.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}
.photo-card {
  margin-left: 20px;
  flex-basis: calc((100% - 80px) / 5);
  margin-bottom: 20px;
  border-radius: 50%;
}
.info {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.info-item {
  font-size: 14px;
  text-align: center;
}

.search-form {
  margin: 20px;
}
.load-more {
  margin: 20px;
}
